<h4>Įveskite ieškomos kraujo grupės žymę:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RodoPaieskosRezultatus">
            <div class="form-group">
                <label for="KraujoAtsarguPaieska" class="control-label"></label>
                <input name="KraujoAtsarguPaieska" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Paieška" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Grįžti į sąrašą</a>
</div>
