@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Likite gyvi!</h1>
    <p>Ši aplikacija yra skirta kaupti informaciją apie įvairių kraujo grupių atsargas.</a></p>


</div>


