@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Šioje svetainėje kaupiama informacija apie kraujo donorus. <br>
    Šie duomenys yra privatūs ir negali būti atskeisti trečiosios šalims.</p>
